*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: paleturquoise;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 2%;
    margin-left: 20%;
    margin-right: 20%;
   
}

section{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.Encabezado{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    font-size: 1cm;
    color: blanchedalmond;
}

.Vida{
    text-align: center;
    font-size: 1cm;
    font-family: 'Times New Roman', Times, serif;
}

.formulario {
	background: rgba(0,0,0,0.7);
	width: 100%;
	max-width: 500px;
	margin: 48px auto;
	color: #fff;
	border-radius: 5px;
	padding: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.formulario {
	font-size: 20px;
	font-weight: 400;
	line-height: 1;

}

.formulario input[type="text"],
.formulario input[type="password"] {
	outline: none;
	background: rgba(0,0,0,0.5);
	display: block;
	width: 100%;
	padding: 10px 15px;
	color: #fff;
	border: none;
	border-radius: 2px;
	border-bottom: 4px solid #33F6FF;
	font-family: 14px;
	font-weight: normal;
	margin: 0 0 20px 0;
	transition: all 0.5s ease
}


.formulario input[type="text"]:focus,
.formulario input[type="password"]:focus {
	border-bottom: 4px solid #0075d9;
}


.formulario input[type="submit"] {
	background: #0146FF;
	color: #fff;
	border: none;
	width: 100%;
	padding: 10px 0;
	font-weight: normal;
	font-family: roboto;
	letter-spacing: 1px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.formulario input[type="submit"]:hover {
	background: rgba(0,117,217,0.7);
}

